h1{
    height:100px;
    background-color:yellow;
    border:5px solid black;
}
@media(width:400px)
{
    h1{
        background-color:pink;
        color:brown;
    }
    div{
        height:200px;
        width:200px;
        background-color:aqua;
    }
}

 @media(min-width:401px) 
{
    h1{
        background-color:yellowgreen;
        color:brown;
    }
    div{
        height:200px;
        width:200px;
        background-color:rgb(255, 98, 0);
    }
} 
@media(max-width:600px)  
{
    h1{
        background-color:rgb(73, 50, 205);
        color:brown;
    }
    div{
        height:200px;
        width:200px;
        background-color:rgb(255, 98, 0);
    }
}  
@media(min-width:1px) and (max-width:399px)
{
    h1{
        background-color:rgb(205, 50, 200);
        color:rgb(165, 159, 42);
    }
    div{
        height:200px;
        width:200px;
        background-color:rgb(255, 98, 0);
    }
}
@media(orientation:landscape){
    div{height:200px;
        width:200px;
        background-color:black;
    }
}