.container{
    height:800px;
    width:800px;
    background-color:rgb(8, 54, 114);
    display:grid;
    /* grid-template-rows:      50px  50px 50px;
    grid-template-columns:    100px  100px    100px  ; */
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(4,1fr);
    grid-gap:10px;


}
.items{
    /* width:50px;
    height:100px; */
    background-color:pink;
    border:5px solid grey;
    text-align:center;
}
.one{
    grid-column:1/4;
    

}
.two{
    grid-column:1/4;
   
}