.face{
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:orange;
 
}
.eyeleft{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:black;
    display:inline-block;
    position:absolute;
    top:58px;
    left:58px}
.eyeright{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:black;
    display:inline-block;
    position:absolute;
    top:58px;
    left:120px

}
.mouth{
    height:30px;
    width:80px;
    background-color:brown;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    position:absolute;
    top:130px;
    left:65px;
}